{#- Deployment and Service Template for Application Nodes -#}
{%- macro render_deployment(name, node, image_pull_secret) -%}
{%- set props = node.get("properties", {}) or {} -%}
{%- set requirements = node.get("requirements", []) or [] -%}

{#- Basic fields -#}
{%- set image = props.get("image") -%}
{%- set replicas = props.get("replicas", 1) | int -%}
{%- set args = props.get("args", []) or [] -%}

{#- ENV processing -#}
{%- set env_list = [] -%}
{%- for e in props.get("env", []) or [] -%}
  {%- if e is mapping and "name" in e -%}
    {%- do env_list.append({"name": e["name"] | string, "value": e.get("value", "") | string}) -%}
  {%- endif -%}
{%- endfor -%}

{#- PORTS processing -#}
{%- set container_ports = [] -%}
{%- set service_ports = [] -%}
{%- for p in props.get("ports", []) or [] -%}
  {%- set port = (p.get("port") or p.get("targetPort")) | int -%}
  {%- set target = (p.get("targetPort") or port) | int -%}
  {%- set protocol = (p.get("protocol", "TCP") | string | upper) -%}
  {%- set node_port = p.get("nodePort") -%}
  
  {%- do container_ports.append({"containerPort": target, "protocol": protocol}) -%}
  
  {%- set sp = {
    "name": p.get("name") or ("port-" ~ port),
    "port": port,
    "targetPort": target,
    "protocol": protocol
  } -%}
  {%- if node_port -%}
    {%- do sp.update({"nodePort": node_port | int}) -%}
  {%- endif -%}
  {%- do service_ports.append(sp) -%}
{%- endfor -%}

{#- Volumes from requirements -#}
{%- set volumes = [] -%}
{%- set volume_mounts = [] -%}
{%- set node_selector = {} -%}
{%- for r in requirements -%}
  {%- if "host" in r -%}
    {%- do node_selector.update({"kubernetes.io/hostname": r["host"]}) -%}
  {%- endif -%}
  
  {%- if "volume" in r -%}
    {%- set vol_name = r["volume"] -%}
    {%- set vol_def = node_templates.get(vol_name, {}) -%}
    {%- set props_v = vol_def.get("properties", {}) -%}
    {%- set path = props_v.get("path") -%}
    
    {%- if path -%}
      {%- do volumes.append({
        "name": vol_name,
        "hostPath": {"path": path, "type": "DirectoryOrCreate"}
      }) -%}
      {%- do volume_mounts.append({"name": vol_name, "mountPath": path}) -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ name }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ name }}
  template:
    metadata:
      labels:
        app: {{ name }}
    spec:
      imagePullSecrets:
        - name: {{ image_pull_secret }}
{%- if node_selector %}
      nodeSelector:
{%- for key, value in node_selector.items() %}
        {{ key }}: {{ value }}
{%- endfor %}
{%- endif %}
      containers:
        - name: {{ name }}
          image: {{ image }}
{%- if args %}
          args:
{%- for arg in args %}
            - {{ arg | tojson }}
{%- endfor %}
{%- endif %}
{%- if env_list %}
          env:
{%- for env in env_list %}
            - name: {{ env.name }}
              value: {{ env.value | tojson }}
{%- endfor %}
{%- endif %}
{%- if container_ports %}
          ports:
{%- for cp in container_ports %}
            - containerPort: {{ cp.containerPort }}
              protocol: {{ cp.protocol }}
{%- endfor %}
{%- endif %}
{%- if volume_mounts %}
          volumeMounts:
{%- for vm in volume_mounts %}
            - name: {{ vm.name }}
              mountPath: {{ vm.mountPath }}
{%- endfor %}
{%- endif %}
{%- if volumes %}
      volumes:
{%- for vol in volumes %}
        - name: {{ vol.name }}
          hostPath:
            path: {{ vol.hostPath.path }}
            type: {{ vol.hostPath.type }}
{%- endfor %}
{%- endif %}
{%- if service_ports %}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
spec:
  type: {{ "NodePort" if service_ports | selectattr("nodePort", "defined") | list else "ClusterIP" }}
  selector:
    app: {{ name }}
  ports:
{%- for sp in service_ports %}
    - name: {{ sp.name }}
      port: {{ sp.port }}
      targetPort: {{ sp.targetPort }}
      protocol: {{ sp.protocol }}
{%- if sp.nodePort is defined %}
      nodePort: {{ sp.nodePort }}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endmacro -%}

{#- Main loop: iterate over all Application nodes -#}
{%- for name, node in node_templates.items() -%}
{%- set node_type = node.get("type", "") -%}
{%- if node_type.endswith("Microservice") -%}
{%- set props = node.get("properties", {}) or {} -%}
{%- if props.get("image") -%}
{{ render_deployment(name, node, image_pull_secret) }}
---
{% endif -%}
{%- endif -%}
{%- endfor -%}