site_name: TOSCA Toolkit
repo_url: https://github.com/Swarmchestrate/tosca

theme: 
  name: material
  logo: img/word-logo.png
  favicon: img/favicon.ico
  palette:
    primary: blue
    accent: light blue
  features:
    - content.code.copy
    - navigation.expand
    - navigation.indexes
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top

nav:
  - Home: index.md
  - Authors:
    - Applications: sat.md
    - Capacities: cdt.md
  - TOSCA Library: sardou.md
  - Microservice Spec: microservice.md
  - Policy Spec: policy.md
  - Capacity Spec: capacity.md
  - Monitoring: monitoring.md

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
